.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  justify-content: center;
  height: 18rem;
  width: 15rem;
  margin: 1rem;
}

.card ul {
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 18rem;
  justify-content: space-around;
  align-items: center;
}

.card li {
  list-style-type: none;
  margin: 5px;
}

h1 {
  text-align: center;
}

.container-links-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
